<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96918783298-c0ddjpc9kpefr0g7t222fr8s3isjmd9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96918783298-c0ddjpc9kpefr0g7t222fr8s3isjmd9i</string>
	<key>API_KEY</key>
	<string>AIzaSyAt5oQ4yV4-8ArQQDtONjqpgskbo08lsgY</string>
	<key>GCM_SENDER_ID</key>
	<string>96918783298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.restech.planify</string>
	<key>PROJECT_ID</key>
	<string>planify-app-e6a0d</string>
	<key>STORAGE_BUCKET</key>
	<string>planify-app-e6a0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96918783298:ios:f53ff65b1239a8b5e5b4db</string>
</dict>
</plist>